*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#ffffff;
  color:#111827;
  transition:.3s;
}

body.dark{
    background:#0f172a;
    color:white;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}

button{
  font-family:inherit;
}

html{
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}